###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
chash-test-static
chash-test-dynamic
*.o
*.so
*.so.*
*.dylib
*.dylib.*
*.a
